@import "../../styles/global";

.list-item {
    @extend .padding;
    @extend .thin-gray-border;
    display: flex;
    cursor: pointer;
}

h4 {
    @extend .no-margin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar-container {
    width: 20%;
}

.info-container {
    @extend .padding-left;
    width: calc(80% - 10px);
    text-align: left;
}
