h1 {
    margin: 0;
}

.header-container {
    text-align: center;
    background-color: #007aff;
    padding: 1vh;
}

.header-container a {
    color: white !important;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em !important;
    }
}