.list-item {
    display: flex;
    padding: 10px;
    border: solid #CCCCCC 1px;
    cursor: pointer;
}

p {
    margin: 0;
}

h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar-container {
    width: 20%;
}

img {
    width: 100%;
    border-radius: 50%;
}

.info-container {
    padding-left: 10px;
    width: calc(80% - 10px);
    text-align: left;
}
