h1 {
    margin: 0;
}

.header-container {
    text-align: center;
    background-color: #282c34;
    padding: 1vh;
}

.header-container a {
    color: white;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
}